.loginblock {
    margin: auto;

    .loginblock-switch {

        display: grid;
        grid-template-columns: 50% 50%;

        li {
            text-align: center;
            transition: 0.2s;

            border-radius: 10px 10px 0px 0px;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
        }

        li.bouton-actif {
            background: $couleurPrimaire;
            color: $couleurTexteInverse;
            
            &:hover {
                background: $couleurSecondaire;
            }
        }

        li:not(.bouton-actif) {
            background: $couleurBtnInactif;
            color: $couleurPrimaire;
            cursor: pointer;

            &:hover {
                background: $couleurFondTache;
                // transform: translateX(3px);
                transform: scale(1.06);
            }
        }
    }

    form {
        padding: 2rem 4rem 3rem 4rem;
        border: 1px solid $couleurDeBordure;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        flex-direction: column;
        background: $couleurFondLogin;

        p {
            font-weight: bold;
            text-decoration: underline;
            padding-bottom: 2rem;
            text-align: center;
            font-size: 1.4rem;
        }

    }
}