main {
    display: flex;
    justify-content: center;

    .main-container {
        padding: 1rem;
        //border: 1px solid $couleurDeBordure;
        max-width: $windowMaxSize;
        width: 100%;
    }
}