// Couleurs
$couleurPrimaire: #7e2358;
$couleurSecondaire: #be6398;

$couleurBtnInactif: #ead6dd;
$couleurFondTache: #dabece;
$couleurFondTache2: #f0def6;

$couleurDeBordure : #AA88AA;
$couleurBordureInputText: #ccbbcc;

$couleurTexte: #333333;
$couleurTexteInverse: #FFFFFF;

$couleurFondBody: #eeeaf5;

$couleurFondNav: #f3f1f9;
$couleurOmbreNav: #ccbbcc;

$couleurFondLogin : #f9f7ff;