* {
    margin: 0;
    padding: 0;
    color: $couleurTexte;
}

#root {
    background-color: $couleurFondBody;
    font-family: $fontFam;
    display: grid;
    grid-template-rows: min-content auto min-content;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: $couleurPrimaire;
    font-weight: bold;

    &:hover {
        color: $couleurSecondaire;
    }
}

button,
.btn {
    text-decoration: none;
    color: $couleurTexteInverse;
    background: $couleurPrimaire;
    padding: 6px;
    border: 1px solid $couleurPrimaire;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: $couleurSecondaire;
        border: 1px solid $couleurSecondaire;
    }
}

.souligne {
    text-decoration: underline;
}