* {
    margin: 0;
    padding: 0;
    color: $couleurTexte;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: default;
}

#root {
    background-color: $couleurFondBody;
    font-family: $fontFam;
    display: grid;
    grid-template-rows: min-content auto min-content;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: $couleurPrimaire;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: $couleurSecondaire;
    }
}

input[type=text], input[type=password] {
    cursor: text;
    border: 1px solid $couleurBordureInputText;
    font-size: 1.2rem;
    padding: 0.2rem;

    &:hover {
        border: 1px solid $couleurPrimaire;
    }

}
input[type=button], input[type=submit] {
    cursor: pointer;
    font-size: 1rem;
    margin-top: 2rem;
    padding: 0.4rem;
}

button,
.btn {
    text-decoration: none;
    color: $couleurTexteInverse;
    background: $couleurPrimaire;
    padding: 6px;
    border: 1px solid $couleurPrimaire;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: $couleurSecondaire;
        border: 1px solid $couleurSecondaire;
        // transform: translateX(3px);
        transform: scale(1.07);
    }
}

.souligne {
    text-decoration: underline;
}

.msgErreur {
    color: red;
    font-weight: bold;
}

.msgSuccess {
    color: green;
    font-weight: bold;
}